.App {
  padding: 20px 300px;
  display: grid;
  place-items: center;
  gap: 20px;
}
.square{
  width: 235px;
  height: 235px;
  font-size: 200px;
}
.board-row{
  display: grid;
  grid-auto-flow: column;
}
.status{
  font-size: 1.5rem;
  font-weight: bold;
}

.restart{
  width: 150px;
  
  padding: 20px;
}



